
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-2">
    <h4 style="font-size:25px">Chào mừng bạn đến với E-Shopping. Đây là trang bán hàng online với những phụ kiện thể thao dành cho Nam như quần áo, đồng hồ, giày dép. Mục đích của chúng tôi là làm cho nhiều người có thể có được niềm vui và lợi ích của việc tập luyện thể thao.</h4>
    <br />
</div>


