<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Thông tin đơn hàng mới từ khách hàng: {{CustomerName}} </title>
</head>
<body>
   
    <div class="m_8833206286786928341section" style="padding-top:0px">
        <div class="m_8833206286786928341header-title" style="font-size:25px;color:#0f146d;text-align:center">Cám ơn bạn đã đặt hàng tại Shop!</div>

        <div class="m_8833206286786928341section-content">
            <h2>Xin chào {{CustomerName}},</h2>

            <p style="font-size:20px">Shop đã nhận được yêu cầu đặt hàng của bạn và đang xử lý nhé. Bạn sẽ nhận được thông báo tiếp theo khi đơn hàng đã sẵn sàng được giao.</p >
            <p style="font-size:20px">Thông tin đơn hàng của bạn</p>

            
            <div class="m_8833206286786928341section">
                <div style="font-size:20px" class="m_8833206286786928341section-header m_8833206286786928341section-header--deliveredTo">Đơn hàng sẽ được giao đến</div>
                <div class="m_8833206286786928341section-content">

                    <table cellpadding="2" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="25%" valign="top"  style="color:#0f146d;font-weight:bold;font-size:20px">Tên:</td>
                                <td width="75%"  style="font-size:20px">{{CustomerName}} </td>
                            </tr>
                            <tr>
                                <td valign="top"  style="color:#0f146d;font-weight:bold;font-size:20px">Địa chỉ nhà:</td>
                                <td valign="top" style="font-size:20px">{{Address}} </td>
                            </tr>
                            <tr>
                                <td valign="top"  style="color:#0f146d;font-weight:bold;font-size:20px">Điện thoại:</td>
                                <td valign="top" style="font-size:20px">{{Phone}}</td>
                            </tr>
                            <tr>
                                <td valign="top"  style="color:#0f146d;font-weight:bold;font-size:20px">Email:</td>
                                <td valign="top" style="font-size:20px" >{{Email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        
    </div>
    <div style="font-size:9pt;color:#0f146d;background-color:#ffffff;font-size:9pt;padding:10px 0px 10px 10px;font-family:Helvetica,Arial,sans-serif;border-spacing:0;overflow:hidden;line-height:20px;text-align:center">
        <a href="https://www.lazada.vn/helpcenter/" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.lazada.vn/helpcenter/&amp;source=gmail&amp;ust=1625141839010000&amp;usg=AFQjCNHPhpfS0xDLIMIQMMFiv-i4_CXYuQ">
            <span style="font-size:12pt;color:#0f146d!important;background-color:#ffffff;font-weight:bold">Trung tâm hỗ trợ</span>
        </a> |
        <a href="https://www.lazada.vn/help/chat" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.lazada.vn/help/chat&amp;source=gmail&amp;ust=1625141839010000&amp;usg=AFQjCNEBRnVapO_tWKTvJ_GBIsK5jGmzFQ">
            <span style="font-size:12pt;color:#0f146d!important;background-color:#ffffff;font-weight:bold">Liên hệ</span>
        </a>

        <p>
            Shop Online  - Số 280, đường An Dương Vương – Quận 5, Tp. Hồ Chí Minh

        </p>
        <img src="https://lh3.googleusercontent.com/unU_KNWcsqv4c47lVeL2_DPcKYWIyu9AHXogvlZUlUPn2h76J33XuRU5es8MXY11sM-uiQ=s87" />
        <p>Đây là thư&nbsp;tự động được tạo từ danh sách đăng ký của chúng tôi. Do đó, xin đừng trả lời thư này.</p>
        
    </div>

    
                         
    
</body>
</html>