
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Google Analytics
}

<div class="row">
    <div class="col-md-12 text-center">
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/7389c618-9828-46f5-b757-10b5b8e9544e/page/4SLSC" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

